vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

#custom pkgs
youtube/vendor
youtube-library/vendor
streamingWebinar/vendor
fisrtApp/vendor
laravelWork/calculator/vendor
laravelWork/fisrtProject/vendor
laravelWork/Project/vendor
laravelWork/test app/vendor

